@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');




body {
    background-color: #b5aaff;
    min-height: 100vh;

    display: grid;
    place-content: center;
    padding: 2rem 1rem;

    font-family: 'Roboto', sans-serif;
}

.box {
    background-color: white;
    padding: 4rem 3rem;
    border-radius: 1rem;
    max-width: 1000px;
}




/* Container 1 */

.box__container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 100%;
    column-gap: 4rem;
}

.box__container1 input {
    background-color: white;
    padding: .5rem .2rem;
    border-bottom: 5px solid #b5aaff;
    width: 100%;
}

.box__container1 button {
    background-color: #b5aaff;
    color: white;

    padding: 1rem 3rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .1s ease;
}

.box__container1 button:hover {
    border: 2px solid #b5aaff;
    background-color: white;
    color: #b5aaff;
}




/* Container 2 */

.box__container2 {
    position: relative;
}

.box__container2 .word {
    font-size: 3rem;
    font-weight: 500;
}

.box__container2 .phonetic {
    margin: .2rem 0 1.5rem;
}

.box__container2 .material-symbols-outlined {
    position: absolute;
    right: 10px;
    top: 10px;
}

.box__container2 .word-type {
    font-weight: 500;
    margin-bottom: .2rem;
    margin-top: 1.5rem;
    color: rgb(196, 191, 191);
}

.box__container2 .definition {
    margin-bottom: .9rem;
    padding-left: 1rem;
    border-left: 5px solid #b5aaff;
    font-weight: 300;
}